@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared styles */
:root {
    --primary-color: rgb(255, 102, 0);
    --secondary-color: rgb(107, 43, 0);
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: white;
    font-family: "Montserrat", sans-serif;
    color: rgb(7, 7, 7);
}

.btn {
    background-color: var(--primary-color);
    padding: 10px 16px 10px 24px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 100px;
    border: none;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(170, 169, 157);
}

/* Navbar styles */
.navbar-container {
    padding: 16px 0;
}

.navbar-content {
    width: 80%;
    max-width: 1216px;
    height: 54px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--primary-color);
}

.navlinks {
    display: flex;
    gap: 32px;

    ul {
        display: flex;
    }

    li {
        list-style: none;
        padding: 11px 8px;
    }

    a {
        color: rgb(7, 7, 7);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
    }

    a:hover {
        font-weight: 600;
    }

    .home {
        color: var(--primary-color);
        font-weight: 600;
    }
}

/* Banner styles */
.banner-container {
    background-image: url(/images/Banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    display: flex;
    align-items: center;
}

.banner-content {
    width: 592px;
    height: 364px;
    margin-top: 67px;
    margin-left: 115px;
    display: flex;
    flex-direction: column;
    color: white;
}

.avatar-container {
    position: relative;
    display: flex;
    align-items: center;

    .img1 {
        position: absolute;
        left: 32px;
    }

    .img2 {
        position: absolute;
        left: 64px;
    }

    div {
        height: 33px;
        color: rgb(7, 7, 7);
        border-radius: 100px;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 0 16px;
        font-size: 0.95rem;
        font-weight: 600;
        position: absolute;
        left: 97px;
    }
}

.banner-content {
    h1 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 16px;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 160%;
    }

    button {
        padding: 16px 16px 16px 26px;
        font-weight: 600;
        margin-top: 42px;
    }
}

/* Noseclip styles */
.noseclip-container {
    padding: 80px 112px;
}

.noseclip-content {
    margin: 0 auto;
    display: flex;
    gap: 64px;
}

.noseclip-image {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noseclip-stars {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 12px;

    h6 {
        font-size: 1.125rem;
        font-weight: 600;
        margin-left: 8px;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        margin-left: 12px;
    }
}

.noseclip-text-container {
    display: flex;
    flex-direction: column;

    >h3 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 8px;
    }

    >h4 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 12px;
    }

    >p {
        font-size: 1rem;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        margin-bottom: 16px;
    }

    button {
        padding: 16px 0;
        font-weight: 600;
        gap: 12px;
        justify-content: center;
        margin-bottom: 24px;
    }
}

.save10 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;

    h3 {
        font-size: 3rem;
        font-weight: 600;
        color: var(--secondary-color);
    }

    h5 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    div {
        height: 33px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-radius: 4px;
        background-color: var(--primary-color);

        p {
            color: white;
            font-size: 11.75px;
            font-weight: 600;
        }
    }
}

#noseclip-performance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    font-size: 1.0625rem;
    font-weight: 500;
    margin-bottom: 24px;
}

.payment-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

/* Why Choose Our Nasal Clip styles */
.choose-container {
    padding-top: 80px;
    padding-bottom: 63px;
}

.choose-content {
    position: relative;
}

.choose-heading-container {
    h2 {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        line-height: 130%;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 160%;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 32px;
    }
}

.choose-arrows {
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 156px;
    right: 190px;

    button {
        border-radius: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8.73px;
        border: 1px solid rgb(255, 102, 0);
        background-color: var(--primary-color);
        cursor: pointer;
    }

    .choose-left {
        background-color: white;
    }

    button:hover {
        background-color: rgb(170, 169, 157);
        border-color: rgb(170, 169, 157);
    }
}

.choose-images {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    position: relative;

    .image1 {
        width: 795px;
        height: 408px;
        object-fit: cover;
        border-radius: 16px;
    }

    div {
        position: absolute;
        left: 127px;
        bottom: 70px;

        h3 {
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 16px;
        }

        p {
            font-size: 1rem;
            font-weight: 500;
            line-height: 160%;
        }
    }
}

.choose-shapes {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    margin-left: 112px;

    div {
        width: 52px;
        height: 8px;
        border-radius: 20px;
        background-color: rgb(255, 185, 138);
    }

    .orange {
        background-color: var(--primary-color);
    }
}

/* Loved by Thousands styles */
.loved-container {
    padding: 0 122px 80px;
}

.loved-content {
    h2 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 130%;
        text-align: center;
        margin-bottom: 40px;
    }
}

.loved {
    display: flex;
    justify-content: center;
    gap: 60px;

    button {
        border-radius: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px;
        border: 1px solid rgb(255, 102, 0);
        background-color: var(--primary-color);
        margin-top: 80px;
        cursor: pointer;
    }

    .choose-left {
        background-color: white;
        border-color: rgb(137, 154, 178);
    }

    button:hover {
        background-color: rgb(170, 169, 157);
        border-color: rgb(170, 169, 157);
    }

    .review {
        border: 1px solid rgb(233, 239, 247);
        border-radius: 30px;
        box-shadow: 0px 25px 52px -12px rgba(17, 17, 17, 0.1);
        padding: 24px;

        p {
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 160%;
            margin-bottom: 18px;
        }

        >div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .profile {
                display: flex;
                align-items: center;

                h5 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-left: 10px;
                }
            }

            .rating {
                display: flex;
                align-items: center;
                gap: 4px;

                h6 {
                    font-size: 1.125rem;
                    font-weight: 600;
                }
            }
        }
    }
}

/* Pain Points & Solution styles */
.pain-container {
    padding: 80px 112px;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 48px;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 48px;

        h2 {
            font-size: 3rem;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 14px;
        }

        h4 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 14px;
        }

        p {
            font-size: 1rem;
            font-weight: 500;
            line-height: 160%;
            margin-bottom: 24px;
        }
    }
}

/* How It Works Section styles */
.works-container {
    padding: 80px 112px;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 48px;

    >div {
        display: flex;
        justify-content: space-between;
        gap: 48px;
    }
}

.works-image {
    h2 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 16px;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 20px;
    }
}

.works {
    display: flex;
    flex-direction: column;
    gap: 16px;

    >div {
        padding: 24px;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        position: relative;

        h5 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 16px;
        }

        >p {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 140%;
        }

        li {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 140%;
            margin-left: 22px;
        }

        .steps {
            position: absolute;
            background-color: var(--primary-color);
            top: 0;
            right: 0;
            padding: 4px 12px;
            font-size: 0.75rem;
            font-weight: 500;
            border-radius: 0px 12px 0px 12px;
        }
    }
}

#work1 {
    background-color: var(--primary-color);

    .steps {
        background-color: rgb(181, 72, 0);
    }
}

.kit-content {
    align-items: flex-end;

    h2 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 16px;
        margin-top: 52px;
    }
}

.kits {
    display: flex;
    flex-direction: column;
    gap: 16px;

    >div {
        padding: 24px;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        gap: 16px;

        h4 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        p {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 140%;
        }
    }
}

#kit3 {
    h4 {
        margin-bottom: 36px;
    }
}

/* Real Results You Can Feel styles */
.results-container {
    padding: 80px 112px;

    h2 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 12px;
        text-align: center;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 160%;
        text-align: center;
        margin-bottom: 48px;
    }
}

.results-image-content {
    display: flex;
    gap: 32px;

    >div {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

/* Video Section styles */
.video-container {
    padding: 80px 112px;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    gap: 19px;

    >div {
        position: relative;

        .play {
            position: absolute;
        }
    }
}

.video1,
.video3 {
    width: 287.56px;
    height: 630.58px;
    border-radius: 31.69px;
    background: url("/images/image-4.png") no-repeat center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.63);
    background-blend-mode: overlay;
}

.video2 {
    width: 602px;
    height: 630px;
    object-fit: cover;
    border-radius: 31.69px;
}

#play1,
#play3 {
    bottom: 42%;
    right: 36%;
}

#play2 {
    bottom: 42%;
    left: 44%;
}

/* Customer Feedback Section styles */
.feedback-container {
    padding: 80px 112px;

    h3 {
        font-size: 2.25rem;
        font-weight: 800;
        margin-bottom: 56px;
    }
}

/* Backed by Science Section styles */
.science-container {
    padding: 80px 112px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: space-between;
    color: white;

    h2 {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 14px;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 24px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    li {
        display: flex;
        align-items: center;
        gap: 8.45px;
        font-size: 1rem;
        font-weight: 600;
        line-height: 160%;
    }
}

/* Choose the Best Plan for You Section styles */
.plan-container {
    padding: 40px 112px 80px;

    div {
        display: flex;
        gap: 24px;
    }

    h2 {
        color: var(--primary-color);
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 48px;
    }
}

/* FAQ Section styles */
.faq-container {
    padding: 40px 112px;

    h2 {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 48px;
    }

    >div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: 16px;
        row-gap: 12px;

        >div {
            padding: 16px 24px;
            border: 1px solid rgb(218, 221, 227);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    }
}

.faq-container .faq1 {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    grid-row: 1 / span 4;
}

.faq-container .faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-container .faq-answer {
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 160%;
    color: rgb(64, 76, 92);
}

.faq-container .faq-divider {
    border-top: 1px dashed rgb(218, 221, 227);
}